# Loading Twitter data

Desscribe data here

In [1]:
import tensorflow as tf
import matplotlib as plt
%matplotlib inline
import pandas as pd
import re 
import sys
import numpy as np

### Class to read and clean data

Data cleaning is the purpose of this class. Needs to modify further

In [6]:
class ReadTwitterData():
    def twitterData(self, fname):
        df = pd.read_csv(fname)
        df = df.dropna()
        return df
    ## def removeNulls
    ## def removeSpecialChars etc.

In [7]:
read_file = ReadTwitterData()
twdf = read_file.twitterData('E:/Datasets/twcs.csv')
print(twdf.shape)

(976810, 7)

In [8]:
twdf.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
5,6,sprintcare,False,Tue Oct 31 21:46:24 +0000 2017,@115712 Can you please send us a private messa...,"5,7",8.0